<mat-card class="centered-section">
    <mat-card-title class="mat-headline">
      Geo Testing
    </mat-card-title>
    <mat-card-subtitle class="mat-title">
      Experimental GPX processing.
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        Total Time Doing Activities: {{totalActivityTime}}
      </div>
      <div>
        <ul>
            <li *ngFor="let summit of (closeSummits | keyvalue)">{{ summit.key }}</li>
        </ul>
      </div>
      <div>
        <button (click)="onCalculateClicked()" color="primary" mat-stroked-button>
          <mat-icon fontSet="material-icons-outlined">favorite_border</mat-icon>
          Calculate Totals
        </button>
        <button (click)="onRunStats()" color="primary" mat-stroked-button>
          <mat-icon fontSet="material-icons-outlined">favorite_border</mat-icon>
          Run Stats
        </button>
        <button (click)="checkProximityToSummits()" color="primary" mat-stroked-button>
          <mat-icon fontSet="material-icons-outlined">favorite_border</mat-icon>
          Check Proximity to Summits
        </button>
      </div>
      <div *ngIf="hasMapData">
        <app-activity-view-map [latLng]="streams.latlng"></app-activity-view-map>
      </div>
      <div>
        <ul>
          <li *ngFor="let activity of sortedActivityTypes">{{ activity }} : {{activityTypeCounts[activity]}}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
  
  