<mat-card class="centered-section">
    <mat-card-title class="mat-headline">
      Push this project higher!
    </mat-card-title>
    <mat-card-subtitle class="mat-title">
      Yes you can!
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        Doing the best with passion! Waiting for your help!
        This is Colins Custom HTML
        Total Vert: {{totalActivityTime}}
      </div>
      <div>
        <button (click)="onDonateClicked()" color="primary" mat-stroked-button>
          <mat-icon fontSet="material-icons-outlined">favorite_border</mat-icon>
          Donate with Paypal
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  
  